<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Home - My Tennis Tournament</title>
  <link rel="icon" type="image/png" href="images/icons8-tennis-16.png">
</head>
<body id="body-home">
  <nav id="nav-home">
    <div>
      <% if (user) { %>
        <h3>WELCOME <span><strong><%= user.name %></strong></span>!</h3>
      <% } else { %>
        <h3>WELCOME TO THE TENNIS TOURNAMENT</h3>
      <% } %>
    </div>
    <div>

    </div>
    <div>

    </div>
    <div>
      <a class="home-a" href="/players">PLAYERS LIST</a>
    </div>
    <div>
      <a class="home-a" href="/tournaments">TOURNAMENTS</a>
    </div>
    <div>
      <% if (user) { %>
        <a class="home-a" id="log-out" href="/logout">LOG OUT</a>
      <% } else { %>
        <a class="home-a" href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </div>   
  </nav>
  </body>
</html>