* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 3vmin;
  /* color: #424748; */
  
}

a {
  text-decoration-line: none;
}

h2 {
  font-size: 5vmin;
  color: #064A87;
}

table {
  border-spacing: 2vmin 2vmin;
  border: .5vmin solid black;
}

body {
  margin: 0;
  font-size: 14px;
  height: 100vh;
  background-color: #71986D;
}

/* HOME */
#body-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-home {
  /* width: 40vmin; */
  height: 80%;
  background-color: #667BB5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#nav-home div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1vmin solid white;
}

#nav-home div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
  border-bottom: none;
}
#nav-home div:nth-child(2) {
  border-right: none;
  /* border-bottom-color: black; */
}
#nav-home div:nth-child(3) {
  /* border-bottom-color: black; */
}
#nav-home div:nth-child(4) {
  /* border-top-color: black; */
  border-right: none;
}
#nav-home div:nth-child(5) {
  /* border-top-color: black; */
  
}
#nav-home div:nth-child(6) {
  grid-area: 4 / 1 / 5 / 3;
  border-top: none;
}

.home-link a:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-link a {
  font-size: 2vmin;
  width: 20vmin;
  text-align: center;
  padding: 1vmin;
  color: white;
  text-decoration-line: none;
}

.home-link:hover {
  background-color: #71986D;
  color: #667BB5;
}

.home-a > img {
  width: 2vmin;
}

/* NAV BAR */
#nav {
  color: white;
  background: linear-gradient(to right, #F6E106, #064A87);
  font-size: 3vmin;
  padding: 2vmin;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav a {
  color: white;
  text-decoration-line: none;
}

#nav a i {
  color:#064A87;
}

#nav a:hover {
  color: #064A87;
}

#nav-right {
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav-right > * {
  margin-left: 2vmin;
}

#nav > div img {
  height: 3vmin;
  border-radius: 50%;
}

/* tournament index */
#tournaments-list-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vmin;
}

/* show */
#tournament-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tournament-show-container h3 {
  color: #064A87;
}

#tournament-show-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tournament-show-container > div > h2 > a {
  font-size: 2vmin;

}

/* edit tournament */
#edit-tournament {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-tournament-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin: 3vmin;
}

#edit-tournament-form input:last-child {
  grid-area: 5 / 1 / 6 / 3
}

/* add tournament */
#add-tournament {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-tournament-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin: 3vmin;
}

#add-tournament-form input:last-child {
  grid-area: 5 / 1 / 6 / 3
}

/* register */
#register {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin: 3vmin;
}

#register-form input:last-child {
  grid-area: 6 / 1 / 7 / 3
}

/* show player */
#show-player {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-player h2 {
  color: #064A87;
}

/* players index */
#players-list-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* draw */
#tournament-draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tournament-draw > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#tournament {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}

#first-round, #quarter-final,
#semi-final, #final {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.matches {
  padding: 1vmin;
  border: .5vmin solid lightgrey;
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 1vmin;
}

.matches p {
  margin: 1vmin;
}

/* score */
#score {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 3vmin;
}

/* footer */
footer {
  padding: 2vmin;
  font-size: 2vmin;
  text-align: right;
}