<%- include('../partials/header') %>

<div id="add-tournament">
  <h2>ADD NEW TOURNAMENTS</h2>
  <form id="add-tournament-form" action="/tournaments" method="POST">
    <label>Name: </label>
    <input type="text" name="name">
    <label>Club Name: </label>
    <input type="text" name="clubName">
    <label>Location: </label>
    <input type="text" name="location">
    <label>Date: </label>
    <input type="datetime-local" name="date">
    <input type="submit">
  </form>
</div>

<%- include('../partials/footer') %>