<!-- <%- include('../partials/header') %>

<form action="/tournaments/<%= tournament._id %>?_method=PUT" method="POST">
  <label>Name: <%= user.name %></label>
  <label>Age: </label>
  <input type="number" name="age">
  <label>Country: </label>
  <input type="text" name="country">
  <label>Ranking: </label>
  <input type="number" name="ranking">
  <label>UTR: </label>
  <input type="number" name="utr">
  
  <input type="submit" value="Register">
</form>

<%- include('../partials/footer') %> -->
